@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Neucha&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.image {
  display: flex;
  height: auto;
}


.box {
  color: black;
  display: flex;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 50px;
  padding: 20px;
  width: 1200px; /* Adjust the max-width as needed */
  height: 225px;
  transition: transform 0.3s;
  margin-bottom: 10px;
}

.h1 {
  font-family: 'Neucha', cursive;
  font-size: 58px;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 3px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h2 {
  font-family: 'Neucha', cursive;
  text-align: center;
  word-spacing: 5px;
  letter-spacing:3px;
  font-size: 48px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h3 {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  word-spacing: 20px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h3 {
  position: relative;
  text-align: center;
}

.h3::before,
.h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}

.h3::before {
  top: 0;
}

.h3::after {
  bottom: 0;
}

.box2 {
  margin-top: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 20px;
  width: 1360px; /* Adjust the max-width as needed */
  height: 270px;
  transition: transform 0.3s
}



.box2 {
  /* ...existing styles... */
  overflow: hidden; /* Ensure images outside the box are hidden */
}

.image-container {
  display: flex;
  animation: scrollImages 20s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust the percentage as needed based on the number of images */
  }
}

.image-container img {
  width: auto; /* Adjust the image width as needed */
  height: auto;
  margin-right: 10px; /* Adjust the margin between images as needed */
}







.box3 {
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 20px;
  width: 300px; /* Adjust the max-width as needed */
  height: 70px;
  transition: transform 0.3s 
}

.box3:hover {
  transform: scale(1.1); /* Add a scaling effect on hover */
  /* Add any additional styles or effects you want on hover */
}


.explore-text {
  font-family: 'Beth Ellen', cursive;
  color: black;
  font-size: 24px;
}

.arrow {
  color: black;
  font-size: 16px;
  margin-left: 10px; /* Adjust the margin as needed */
}
